.login-button {
    display: flex;
    padding: .625rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: .5rem;
}

.signUP-button {
    display: flex;
    padding: .75rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--main-color);
    border-radius: .5rem;
    border: .0625rem solid #8E2424;
    background: #8E2424;

    /* Shadow/xs */
    box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(16, 24, 40, 0.05);
}